<div class="container animated fadeIn">
<div class="row">
  <div class="col-12">
    <h2 class="text-center pb-2 text-primary" translate>List of products</h2>
  </div>
  <div class="row">
    <div class="col-12">
      <app-loader [isLoading]="isLoading"></app-loader>
      <ng-container *ngIf="!isLoading">
          <div class="col-12">
            <div class="row">
              <div class="col-4 mb-2" *ngFor="let product of products">            
                <div class="card shadow-sm card-product" (click)="open(content, product)">
                  <div class="top-border"></div>
                  <img class="card-img-top animated fadeIn mt-2 px-3" [defaultImage]="defaultImage" [lazyLoad]="product.url">
                  <div class="card-info">
                    <div class="text p-3">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text mb-2">{{product.price}}</p>
                    </div>
                  </div>
                </div>
                </div>
            </div>
          </div>
      </ng-container>
    </div>  
  </div>
  </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{product.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="height: 80vh;overflow: scroll;">
      <div class="row">
        <div class="col-12">
          <img src="{{defaultImage}}" class="mx-auto d-block" *ngIf="isLoadingDetail">
        </div>
        <ng-container *ngIf="!isLoadingDetail">
          <div class="col-6">
              <img class="img-thumbnail animated fadeIn px-3" [defaultImage]="defaultImage" [lazyLoad]="productDetail.thumbnailImage">
          </div>
          <div class="col-6">
              <b>{{productDetail.shortDescription}}</b><br>
              <span class="small" translate>SKU</span>: <span class="small">{{productDetail.partNumber}}</span><br>
            <span translate>Price</span>: {{productDetail.prices.formattedListPrice ? productDetail.prices.formattedListPrice : productDetail.prices.formattedListPrice}}
            <hr>
          <ul class="list-group">
              <li class="list-group-item small" *ngFor="let attr of productDetail.attributes">
                {{attr.name}}: {{attr.value}}
              </li>
            </ul>
          </div>
          <div class="col-12">
            <hr>
            <div class="productDetail" [innerHtml]="productDetail.longDescription"></div>
          </div>
        </ng-container>
        </div>
      </div>
    
  </ng-template>